<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SchoolElectronicMagazine</title>
    <link href="/css/_Layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <ul class="menu-main">
        <li><a href="/" >Главная</a></li>
        <li><a href="">Просмотр групп</a></li>
        <li><a href="">Сформировать отчет</a></li>
    </ul>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

</body>
</html>