.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: conic-gradient();
    background-color: lightgreen;
    width: 200px;
    height: 300px;
}

.theGap {
    height: 200px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.DayOfWeek {
    text-align: center;
    font-size: 20px;
}

.lessons {
    text-align: center;
}
